.link-secondary {
    color: $light-gray;
    transition: color .15s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $gold;
    }
}


.link-tertiary {
    color: $sage-brown;
    transition: color .15s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $sage-brown;
    }
}
