$cream: #fcf5e5;
$dark-blue: #2c3e50;
$dark-brown: #564844;
$dark-green: #57947f;
$gold: #c2a255;
$gray: #5e5c65;
$green: #68b198;
$light-gray: #e5e2e6;
$light-medium-gray: #8c8c8c;
$off-white: #fdfdfd;
$medium-dark-gray: #6b7b81;
$medium-gray: #b5b5b5;
$medium-gray-2: #6f6f6f;
$sage-brown: #776d6d;
$player-label: #7eaebe;
$orange-wizard: #e38b54;
$red-wizard: #ea5253;
$crimson-wizard: #ca395d;
$red: #f04a4a;

// Unit colours
$archer: #68b198;
$bannerman: #11586f;
$bannerman-light: #97c3d2;
$berserker: #3d8959;
$bishop: #65397a;
$berserker-light: #92c5a4;
$bishop: #673a7e;
$cavalry: #d49042;
$crossbowman: #9b5a63;
$earl: #426b58;
$ensign: #bfc366;
$ensign-dark: #838828;
$footman: #029198;
$herald: #f1b945;
$herald-light: #f9cf78;
$knight: #009ed1;
$lancer: #df4b3d;
$light-cavalry: #9bb969;
$marshal: #c46646;
$marshal-dark: #833318;
$mercenary: #912d31;
$pikeman: #d8b548;
$royal-coin-black: #46444b;
$royal-coin-white: #d9b649;
$royal-guard: #dd7c7b;
$sapper: #7081c2;
$siege-tower: #7abad5;
$scout: #0570af;
$scout-light: #54a9da;
$swordsman: #374e7c;
$trebuchet: #6b482c;
$war-wagon: #b21f30;
$war-wagon-light: #e7929c;
$warrior-priest: #745665;

// Breakpoints
$screen-sm: 768px;
