@import '../../styles/variables.scss';

@keyframes animated-border {
    from {
        box-shadow: 0 0 4.5px 4.5px rgba(112, 203, 171, 0.4);
    }

    to {
        box-shadow: 0 0 5px 5px rgba(104, 177, 152, 0.4);
    }
}

.game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding: 5% 0;

    .card-img {
        user-select: none;
        height: auto;
        width: auto;
        display: block;
    }

    .player-area {

        &.player {
            .card-wrapper {
                position: relative;

                &.is-selectable {

                    .card-img {
                        cursor: pointer;
                        box-shadow: 0 0 5px 5px rgba(104, 177, 152, 0.5);
                        border-radius: 2px;
                        box-sizing: border-box;
                    }
                }

                &.is-selected {

                    .card-img {
                        cursor: pointer;
                        box-shadow: 0 0 5px 5px rgba(237, 143, 34, 0.65);
                        border-radius: 2px;
                        box-sizing: border-box;
                    }
                }
            }
        }

    }

    .wizard-positions {

        .card-wrapper {
            position: relative;

            .wizard-position {
                display: flex;

                .card-img {
                    max-width: 92%;
                    margin: 0 auto;
                }
            }
        }

        &.opponent {
            margin-bottom: 10px;

            .card-wrapper {

                .card-img {
                    align-self: flex-end;
                }
            }
        }

        &.player {
            margin-top: 10px;

            .card-wrapper {

                .card-img {
                    align-self: flex-start;
                }

                &.is-active {
                    cursor: pointer;

                    &:before {
                        content: '';
                        display: block;
                        width: 92%;
                        height: 92%;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);;
                        box-shadow: 0 0 5px 5px rgba(104, 177, 152, 0.5);
                        border-radius: 2px;
                        box-sizing: border-box;
                    }
                }

                .action-label {
                    color: $green;
                    font-size: 75%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    text-align: center;
                }
            }
        }
    }

    .wizard-positions,
    .continuum-cards {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        max-width: 72%;
        margin: 0 auto;

        .card-wrapper {
            flex-grow: 1;
            position: relative;
            max-width: 10%;
            box-sizing: border-box;

            .card-img {
                height: auto;
                max-width: 100%;
                width: auto;
            }

            .codex-ring {
                position: absolute;
                width: 36.5%;
                height: 26.5%;
                border: 1px solid white;
                border-radius: 50%;
                box-sizing: border-box;

                &.blue {
                    left: 12%;
                    top: 19%;
                }

                &.red {
                    left: 12%;
                    bottom: 20.5%;
                }

                &.green {
                    right: 12%;
                    top: 19%;
                }

                &.purple {
                    right: 12%;
                    bottom: 20.5%;
                }
            }
        }
    }

    .player-area {
        display: flex;
        justify-content: center;

        .player-label {
            align-self: flex-end;
            background: rgba(255, 255, 255, .5);
            border-radius: 4px;
            display: flex;
            margin-right: 15px;
            padding: 4px 5px;

            .divider {
                padding: 0 5px;
            }

            .turn-indicator {
                align-self: center;
                background: $medium-gray;
                border-radius: 50%;
                height: 10px;
                width: 10px;

                &.active {
                    background: $green;
                }
            }
        }

        .card-img {
            max-width: 75px;
            margin: 0 7.5px;

            &.wizard {
                margin-left: 0;
                margin-right: 15px;
            }
        }

        &.opponent {

            .player-label {
                align-self: flex-start;
                margin-right: 0;
                margin-left: 15px;
            }

            .card-img {

                &.wizard {
                    margin-right: 0;
                    margin-left: 15px;
                }
            }
        }

        &.inverse {

            .player-label {
                border: 1px solid $orange-wizard;
                color: $orange-wizard;
            }
        }

        &.default {

            .player-label {
                border: 1px solid $red-wizard;
                color: $red-wizard;
            }

        }
    }

    .player-cards {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .victory-modal {
        background: white;
        box-shadow: -4px 4px 4px rgba(53, 53, 53, 0.4);
        left: 50%;
        position: absolute;
        top: 50%;
        text-align: center;
        padding: 0px 10px;
        min-height: 100px;
        min-width: 200px;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.defeat {

            .title {
                color: $red;
            }
        }

        .title {
            color: $green;
            font-weight: bold;
            padding: 10px 20px;
            font-size: 1.1rem;
        }

        .content {
            padding: 10px 20px;
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .game {
        padding: 1.5% 0;

        .player-area {

            .card-img {
                max-width: 85px;
            }
        }

        .wizard-positions {

            &.opponent {
                margin-bottom: 10px;
            }

            &.player {

                .card-wrapper {

                    .action-label {
                        font-size: 85%;
                    }
                }
            }
        }
    }
}
