@import '../../styles/variables.scss';

.rules {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 500px;
    padding: 25px;
    text-align: center;
    width: 100%;

    .title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 15px;
    }

    .subtitle {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 15px;
        color: $player-label;
    }

    .content {
        text-align: left;

        li {
            margin-top: 10px;
        }
    }
}
